* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

// nprogress
#nprogress .bar {
  background: #8315f9 !important;
}

// markdown
.vditor-reset--error {
  display: none !important;
}

// 升级
.upgradeDrawer {
  .ant-drawer-header {
    padding: 0 100px;
    border-bottom: none;
    margin: 20px 0;
  }
  .ant-drawer-body {
    padding: 0;
  }
}
